# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps
.idea

# Ignore install directories
llvm-13
binutils-2.38
.vscode
.cache/
.clangd/
*.dump

#LLVM
build/
*.old
obj/
lib/

results
*.log
AnalysisResults/
build.veripatch/
